<template>
  <div class="q-pa-md">
    <added-shapes-table :shapes-data="shapesData"></added-shapes-table>
  </div>
</template>

<script>
import AddedShapesTable from "@/components/Tables/AddedShapesTable";
import { ShapeTableModel } from "@/Models/TableModels/ShapeTableModel";

export default {
  name: "AddedShapes",
  components: {
    AddedShapesTable
  },
  computed: {
    shapesData() {
      const shapes = this.$store.getters.getAllCurrentShapes;
      if (shapes.length < 1) return [];

      return shapes.map(shape => {
        return new ShapeTableModel(
          shape.id,
          shape.dimensions,
          shape.position,
          shape.shapeType
        );
      });
    }
  }
};
</script>

<style scoped></style>
