<template>
  <collision-table :collision-data="currentCollisions"></collision-table>
</template>

<script>
import CollisionTable from "@/components/Tables/CollisionTable";

export default {
  components: { CollisionTable },
  computed: {
    currentCollisions() {
      return this.$store.getters.getCurrentCollisions;
    }
  }
};
</script>

<style scoped></style>
