<template>
  <div>
    <shapes-form></shapes-form>
  </div>
</template>

<script>
import ShapesForm from "@/components/Forms/ShapesForm";
export default {
  name: "ShapesMenu",
  components: {
    ShapesForm
  }
};
</script>

<style scoped></style>
