<template>
  <div class="q-pa-md">
    <q-table
      title="Collisions"
      :data="collisionData"
      :columns="collisionColumns"
      row-key="id"
      :loading="loading"
    >
      <template v-slot:top-right>
        <div class="q-gutter-sm">
          <q-btn
            @click="refreshTable"
            round
            class="bg-transparent text-positive"
            icon="mdi-refresh"
          >
            <q-tooltip content-class="bg-positive">
              Refresh table
            </q-tooltip>
          </q-btn>
        </div>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn
              v-if="
                typeof props.row.shapes !== 'undefined' &&
                  props.row.shapes.length > 0
              "
              size="sm"
              color="primary"
              round
              dense
              @click="props.expand = !props.expand"
              :icon="props.expand ? 'remove' : 'add'"
            >
              <q-tooltip content-class="bg-primary">
                Shapes data
              </q-tooltip>
            </q-btn>
          </q-td>
          <q-td v-for="col in props.cols" :key="col.name" :props="props">
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr :key="props.row.id" v-show="props.expand" :props="props">
          <q-td colspan="100%">
            <added-shapes-table
              :shapes-data="props.row.shapes"
              :hide-header="true"
            >
            </added-shapes-table
          ></q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import AddedShapesTable from "@/components/Tables/AddedShapesTable";
export default {
  name: "CollisionTable",
  components: { AddedShapesTable },
  props: ["collisionData"],
  methods: {
    async refreshTable() {
      const self = this;
      this.loading = true;
      try {
        await this.$store.dispatch("loadAllCurrentCollisions");
      } catch (e) {
        self.$q.notify({
          type: "negative",
          message: `${e}`
        });
      } finally {
        this.loading = false;
      }
    }
  },
  data() {
    return {
      loading: false,
      collisionColumns: [
        {},
        {
          name: "id",
          label: "Collision Id",
          align: "left",
          field: "id"
        },
        {
          name: "intersectionArea",
          label: "Intersection area",
          align: "left",
          field: "intersectionArea"
        }
      ]
    };
  }
};
</script>

<style scoped></style>
