<template>
  <q-page class="q-pa-md">
    <AddedShapes></AddedShapes>
    <CollisionViewer></CollisionViewer>
  </q-page>
</template>

<script>
import CollisionViewer from "@/components/Wrappers/CollisionViewer";
import AddedShapes from "@/components/Wrappers/AddedShapes";

export default {
  name: "CollisionView",
  components: {
    AddedShapes,
    CollisionViewer
  }
};
</script>

<style scoped></style>
