<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="leftMenu = !leftMenu" />
        <q-toolbar-title>
          Cube Exercise
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer show-if-above v-model="leftMenu" side="left" bordered>
      <ShapesMenu></ShapesMenu>
    </q-drawer>
    <q-page-container>
      <!--      There we could use route link to display different routes-->
      <dashboard></dashboard>
    </q-page-container>
  </q-layout>
</template>

<script>
import ShapesMenu from "@/components/Wrappers/ShapesMenu";
import Dashboard from "@/Pages/Dashboard";

export default {
  data() {
    return {
      leftMenu: false
    };
  },
  components: {
    Dashboard,
    ShapesMenu
  },
  methods: {
    expandMenu() {
      this.leftMenu = !this.leftMenu;
    }
  },
  async created() {
    let self = this;
    this.$root.$on("expandMenu", this.expandMenu);
    try {
      await this.$store.dispatch("loadAllCurrentShapes");
      await this.$store.dispatch("loadAllCurrentCollisions");
    } catch (e) {
      self.$q.notify({
        type: "negative",
        message: `${e}`
      });
    }
  }
};
</script>
