<template>
  <q-form @submit="onSubmit" @reset="onReset">
    <div class="q-pa-md">
      <q-select
        v-model="selectedShapeType"
        :options="availableShapes"
        label="Shape"
      >
        <template v-slot:prepend>
          <q-icon color="green-4" :name="selectedShapeIcon" />
        </template>
      </q-select>
    </div>

    <div class="q-pa-md">
      <label class="text-weight-regular text-h6">Position</label>
      <div class="q-gutter-md flex-inline">
        <q-input
          class="inline-block"
          type="number"
          v-model.number="position.x"
          label="X"
          style="max-width: 25%;"
        />
        <q-input
          class="inline-block"
          type="number"
          v-model.number="position.y"
          label="Y"
          style="max-width: 25%;"
        />
        <q-input
          class="inline-block"
          type="number"
          v-model.number="position.z"
          label="Z"
          style="max-width: 25%;"
        />
      </div>
    </div>

    <div class="q-pa-md">
      <label class="text-weight-regular text-h6">Dimensions</label>
      <div class="q-gutter-md flex-inline">
        <q-input
          class="inline-block"
          type="number"
          v-model.number="dimensions.length"
          label="Length"
          style="max-width: 25%;"
        />
        <q-input
          class="inline-block"
          type="number"
          v-model.number="dimensions.width"
          label="Width"
          style="max-width: 25%;"
        />
        <q-input
          class="inline-block"
          type="number"
          v-model.number="dimensions.height"
          label="Height"
          style="max-width: 25%;"
        />
      </div>
    </div>

    <div class="q-gutter-md q-pa-md text-center">
      <q-btn label="Submit" type="submit" color="primary" />
      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
    </div>
  </q-form>
</template>

<script>
/* eslint-disable no-debugger */

import { Position } from "@/Models/Position";
import { Dimensions } from "@/Models/Dimensions";
import { ShapeTypes } from "@/Enums/ShapeTypes";
import { ShapeModel } from "@/Models/ShapeModel";
import { ShapeTypeToIconMapping } from "@/Utils/ShapeTypeToIconMapping";

export default {
  name: "ShapesForm",
  data() {
    return {
      position: new Position(),
      dimensions: new Dimensions(),
      selectedShapeType: "",
      selectedShapeIcon: "",
      availableShapes: this.mapEnumToString()
    };
  },
  watch: {
    selectedShapeType(nextValue) {
      const mapping = ShapeTypeToIconMapping[nextValue.label];
      if (
        typeof mapping === "undefined" ||
        mapping === null ||
        mapping.length < 1
      ) {
        this.selectedShapeIcon = "";
        return;
      }
      this.selectedShapeIcon = mapping.icon;
    }
  },
  methods: {
    mapEnumToString() {
      return Object.keys(ShapeTypes).map(key => {
        return {
          label: key,
          value: ShapeTypes[key]
        };
      });
    },
    async onSubmit() {
      let self = this;
      const shapeModel = new ShapeModel(
        null,
        this.position,
        this.dimensions,
        this.selectedShapeType.value
      );
      try {
        await self.$store.dispatch("addNewShape", shapeModel);
        self.$q.notify({
          type: "positive",
          message: `Shape added successfully`
        });
      } catch (e) {
        self.$q.notify({
          type: "negative",
          message: `${e}`
        });
      }
    },
    onReset() {
      this.position = new Position();
      this.dimensions = new Dimensions();
      this.selectedShapeType = "";
    }
  }
};
</script>

<style scoped></style>
